@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  background-color: black;
}

body {
  font-family: "Pretendard";
}

a {
  text-decoration: none;
}

/* header */

header {
  padding: 32px;
  position: fixed;
  top: 0;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo img {
  width: 60px;
  height: 60px;
}

.header__logo h1 {
  font-size: 2rem;
  color: white;
}

.header__logo h1 span {
  color: red;
}

.header__Link {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header__Link li a {
  color: white;
  font-size: 1.5rem;
}

/* home */

#home {
  margin-top: 100px;
}

.home__profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.home__profile img {
  width: 80%;
}

.home__profile h2 {
  color: white;
  font-size: 3rem;
}

.home__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.home__description h3 {
  color: white;
  font-size: 2.5rem;
}

/* about */

.about__activity__container {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 30px;
  width: 100%;
}

.about__activity {
  width: 30%;
}

.about__activity img {
  width: 100%;
  border-radius: 100%;
}

.about__activity h2 {
  font-size: 3rem;
  color: white;
  margin-top: 30px;
  text-align: center;
}

.about__activity h3 {
  font-size: 1.5rem;
  line-height: 150%;
  color: white;
  margin-top: 40px;
  text-align: center;
}

/* contact */

#contact {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact__button {
  padding: 30px;
  background-color: #ff7710;
  border-radius: 30px;
  margin-bottom: 20px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact__title {
  color: white;
  font-size: 2rem;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .about__activity__container {
    flex-direction: column;
    align-items: center;
  }

  .about__activity {
    width: 80%;
  }
}
