@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') 
        format('woff');
    color: white;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pretendard';
}

html {
    font-size: 16px;
    font-family: 'Pretendard';
}

/* header */
#header {
    padding: 32px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

#header__nav {
    display: flex;
    justify-content: space-between;
}

#header__nav a {
    text-decoration: none;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo h1 {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

#header__logo__img {
    width: 60px;
    height: 60px;
}

#span__red {
    color: red;
}

.header__Link {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 1.0rem;
}

.header__Link a {
    color: white;
}

/* Home */
#home {
    position: relative;
    z-index: -1;
    display: block;
    background-color: black;
    padding: 150px;
    margin-top: 100px;
}

.home__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

#home__logo__img {
    width: 80%;
}

.home__profile h2 {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 2rem;
    margin-top: 20px;
}

.home__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.home__description h3 {
    color: white;
    font-size: 1.0rem;
    line-height: 150%;
}

/* about */
#about {
    background-color: black;
    position: relative;
    z-index: -1;
}

.about__activity__container {
    padding-top: 100px;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.about__activity {
    display: block;
    position: relative;
    width: 30%;
    padding: 0px 50px;
    margin: auto;
}
.about__activity__img img{
    width: 100%;
    border-radius: 100%;
    overflow: hidden;
}

.about__activity__title {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px 0px;
    color: white;
    font-size: 1.7rem;
}

.about__activity__subtitle {
    display: flex;
    text-align: center;
    color: white;
    font-size: 0.9rem;
    line-height: 130%;
}

/* contact */
#contact {
    background-color: black;
    display: flex;
    justify-content: center;
    height: 200px
}

.contact__button {
    display: flex;
    padding: 30px;
    margin: auto;
    background-color: #ff7710;
    border-radius: 30px;
}

.contact__button h2 {
    color: white;
    font-size: 2rem;
}

.contact__button a {
    text-decoration: none;
}